@import "color";

.notexist{
    display: none;
} 
.profile{
    padding: 7px;
    margin-top: -10px;
    // > .delete-btn {
    //     background-color: rgb(4, 5, 5);
    //     color: wheat;
    //     padding: 10px;
    //     border-radius: 20px;
    
    // }
}
.image-container{
    height: 230px;
    width: 100%;
}
.carPost{
    > .searchOption{
        margin: 20px;
        margin-bottom: 40px;
        text-align: center;
        > input {
            padding: 10px;
            height: 36px;
            width: 300px;
            border-radius: 20px;
            border-color: gray;
        }
    }
}
.cnr{
    color: rgb(43, 42, 42);  
    padding-bottom: 3px;
}
.card{
    margin-bottom: 60px;
    width: 1000px;
    padding: 7px;
    background-color: #ffffff;
    border: .5px solid rgb(192, 179, 179);
    box-shadow: 10px 10px 10px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-top: 20px;
        > .card-num-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       > .cnr{
            color: rgb(43, 42, 42);  
            padding-bottom: 3px;
        }
    }
    
    > .tfs{
        font-size: 14px;
        color: gray;
        margin-bottom: 8px;
    }
    > .tag{
        color: red;
        margin-bottom: 8px;
    }
    >.location{
        padding: 10px;
        >h4{
            color: #454545;
        }
        display: flex;
        justify-content: space-between;

        > p {
            color: rgb(8, 245, 8);
        }
    }
}
.main-component{
    display: grid;
    place-items: center;
    margin: 0 10px;
    @media screen and (max-width: 1019px){
        .card{
            width: 800px;
        }
    }
    @media screen and (max-width: 816px){
        .card{
            width: 500px;
        }
    }
        @media screen and (max-width: 580px){
        grid-template-columns: 1fr;
        .card{
            width: 400px;
        }
    }
    @media screen and (max-width: 416px){
        grid-template-columns: 1fr;
        .card{
            width: 340px;
        }
    }
}