@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Croissant+One&family=Inter:wght@300&family=Mooli&display=swap');
$first: white;
$second: #140000;
$third: rgb(23, 127, 212);
$dark: rgb(44, 44, 44);
$text1: "Roboto";
$text2: cursive;