.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
    >.profile-img > img{
        height: 100px;
    }
    >.profile-text{
        padding: 20px 10px;
        text-align: center;
        >div {
            >p, h1{
                margin: 10px;
                font-size: 1.3rem;
                font-family: 'Chivo Mono', monospace;
            }
            > .total-post{
                margin-top: 30px;
            }
        }
    }
}

// .delete-icon{
//     font-size: 30px;
//     color: rgb(2, 2, 2);
// }